* { margin: 0; padding: 0; }

.slider {
    display: block;
    height: 293px;
    width: 1600px;
    margin: auto;
    margin-top: 20px;
    position: relative;
    overflow: hidden; 
}

.slider li {
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slider img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease;
}

.slider input {
    display: none;
}

.slider label {
    background-color: #000;
    cursor: pointer;
    display: inline-block;
    height: 10px;
    width: 10px;
    z-index: 10;
    border-radius: 50%;
    margin: 0 5px;
    transition: background-color 0.3s ease;
}

.slider .navigation {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%); 
    display: flex;
}

.slider li:nth-child(1) label {
    background-color: white;
}

.slider li:nth-child(2) label {
    background-color: white;
}

.slider li:nth-child(3) label {
    background-color: white;
}

.slider li:nth-child(4) label {
    background-color: white;
}


.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
}

.slider li input:checked ~ .navigation label {
    background-color: #FF6347;  
}

.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
}

.btn-slide {
    background-color: white;
}
