
html {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0%;
}

.header { 
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0%;
    left: 0%;
}

.header img { 
    height: 50px;
    width: 50px;
    position: relative;
    left: 50%;
}

.header a {
    position: relative;
    flex: 1;
    margin: 5px;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    top: 25%;
}

.sessao1 {
    background-image: url('../Atividade/imagine_imagens/31165811396374.jpg');
    height: 900px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}

.frame1 {
    width: 280px;
    text-align: center;
    height: 520px;
    /* padding: 1%; */
    background-color:transparent;
    position: relative; 
    box-shadow: 15px 30px 30px rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    left: 43%;
    top: 20%;
    padding: 50px;
}

.frame1 p {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    text-align: justify;
    line-height: 2;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.frame1 a {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    line-height: 2;
}

.frame1 img {
    position: relative;
    height: 130px;
    width: 170px;
    left: 5%;
}

.frame1 h1 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    text-align: center;
}  
.frame1 h2 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    text-align: center;
}  

.sessao2 {
    background-color: white;
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}

.sessao2 h1 {
    position: relative; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 47%;
    margin-top: 1%;
}

.grid-container {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    column-gap: 20px;
    row-gap: 20px;
    position: relative;
    top: 1%;
    left: 25%;
    width: 50%;
}

.grid-container h1 {
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    position: relative;
    text-align: center;
}

.grid-container h2 {
    color: rgb(214, 189, 189);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    position: relative;
    top: 60%;
    left: 5%;
}

.item1 {
    background-image: url('../Atividade/imagine_imagens/lixo-espacial.jpg');
    background-size: cover;
    width: 300px;
    height: 250px;
}

.item1 h1 {
    margin-top: 5%;
    margin-left: -50%;
}

.item2 {
    background-image: url('../Atividade/imagine_imagens/arte.jpg');
    background-size: cover;
    width: 300px;
    height: 250px;

}

.item2 h1 {
    margin-top: 5%;
    margin-left: -40%;
}

.item3 {
    background-image: url('../Atividade/imagine_imagens/438566-rocket-Launch-space-spaceship-night-NASA.jpg');
    background-size: cover;
    align-items: center;
    width: 300px;
    height: 250px;
    color: rgb(255, 81, 0);
}

.item3 h1 {
    margin-top: 5%;
    margin-left: -50%;
}

.item3 h2 {
    color: aqua;
}

.item4 {
    background-image: url('../Atividade/imagine_imagens/satelite.jpg');
    background-size: cover;
    width: 300px;
    height: 250px;
}

.item4 h1 {
    margin-top: 5%;
    margin-left: -70%;
}

.item5 {
    background-image: url('../Atividade/imagine_imagens/kennedy_center.jpg');
    background-size: cover;
    width: 300px;
    height: 250px;
    color: rgb(255, 255, 255); 
    top: 70%;
    grid-column: 2;
}

.item5 h1 {
    margin-top: 5%;
    margin-left: -25%;
}

.sessao3 {
    background-image: url('../Atividade/imagine_imagens/black_hole.gif');
    height: 600px;
    width: 50%;
    background-size: cover; 
    background-position: right;
}

.frame3 {
    width: 100%;
    height: 600px;
    background-color: black;
    position: relative; 
    left: 100%;
}


/* .sessao4 {
    background-color: rgb(151, 22, 22);
    height: 250px;
    width: 100%;
    background-size: cover; 
    background-position: center;
}

.sessao4 h1 {

}

.sessao4 h2 {

} */