.grid{
    display: grid;
    grid-template-columns: 60% 40%;
    margin-top: 200px;
    margin-bottom: 70px;

}

.button{
    margin-top: 70px;

    width: 172px;
    height: 48px;

    font-size: 25px;
    border-style: none;
    border-radius: 5px;

    color: white;
    background-color: #16A18E;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;

}

#caixa{
    width: 350px;
    height: 500px;
}

#email{
    margin-top: 70px;
    font-size: 18px;
    border-top: none;
    border-left: none;
    border-right: none;
}

#senha{
    margin-top: 70px;
    font-size: 18px;
    opacity: 1.5;

    border-top: none;
    border-left: none;
    border-right: none;
}

#foto_tela_login{
    width: 70%;
    height: 90%;
    padding-left: 200px;
}

h1{
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 1.44px;
}
h3{
    margin-top: 20px;
    font-size: 25px;

    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}

label{
    font-size: 14px;
    opacity: 0.5;
}
