.coluna-menu{
    display: grid;

}

.container{
    display: grid;
    grid-template-columns: 10% 90%;
    margin-left:5%;
    margin-right: 5%;
    column-gap: 200px;
}

.items{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    place-items: center;

    width: 70%;
    height: 136px;
    border-style: solid;
    border-radius: 20px;
    
    margin-bottom: 2%;
}


h1{
    font-size: 14px;
    margin-top: 5%;
    margin-left: 5%;
}