/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header, footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  main {
    padding: 20px;
  }
  
  h1, h2 {
    margin: 0;
  }
  
  p {
    font-size: 1.1em;
  }
  
  /* Media Query para telas menores que 768px */
  @media screen and (max-width: 768px) {
    body {
      font-size: 14px; /* Ajuste de tamanho de fonte */
    }
  
    header, footer {
      padding: 15px;
    }
  
    main {
      padding: 10px;
    }
  
    h1 {
      font-size: 1.5em;
    }
  
    h2 {
      font-size: 1.2em;
    }
  }
  
  /* Media Query para telas menores que 480px */
  @media screen and (max-width: 480px) {
    h1 {
      font-size: 1.2em;
    }
  
    h2 {
      font-size: 1em;
    }
  
    p {
      font-size: 1em;
    }
  }
  