.container-geral {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 50px 500px;
    margin-left: 5%;
    column-gap: 10%;
    margin-bottom: 10%;
    width: 90%;  
    height: 100vh;
    justify-content: center;
    align-items: start;
}

.menu-container {
    white-space: nowrap;
}

.container-content {
    grid-column: 2;
}

.container-content h1 {
    font-weight: 500;
    font-size: 30px;
}

.container-create {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    column-gap: 5%;
    row-gap: 10%;
    width: 700px;
    height: 200px; 
    border: 1px solid #ccc;
    padding: 15px;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container-create img {
    margin-top: 10%;
    grid-column: 1;
    grid-row: span 2;
    width: 180px;
    height: auto;
}

.confirm {
    grid-column: 3;
    grid-row: 2;
    display: flex;
    width: 100px;
    height: 30px;
    justify-content: end;
    align-items: end;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: #00BFA5;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 40%;
}

@media (max-width: 1440px) {
    .container-geral {
        margin-bottom: 15%;
        column-gap: 5%;
    }

    .menu-container h1, a {
        font-size: 25px;
    }

    .container-create {
        row-gap: 5%;
    }

    .container-create img {
        width: 120px;
    }

    .container-content h1 {
        font-size: 25px;
    }

    .input_label, .insert_img {
        font-size: 15px;
    }

    .input_label input {
        width: 300px;
    }

    label[for="insert"] {
        font-size: 12px;
    }
}
