* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.roadmap {
    font-family: 'Poppins', sans-serif;
    width: 455px;
    position: relative;
    margin-top: 45px;
    margin-bottom: 40px;
    left: 2%;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

#pagina_atual{
    color: #00BFA5;
}

.container-geral{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 50px 500px;
    margin-left: 5%;
    column-gap: 10%;
    margin-bottom: 10%;
    width: fit-content;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.menu-container {
    grid-column: 1;
    grid-row: span 2;
    display: grid;
    grid-template-rows: auto; 
    grid-auto-flow: row; 
    gap: 10px;
    white-space: nowrap; 
    width: fit-content;
}

.menu-container h1 {
    font-size: 18px;
    max-width: fit-content;
    max-height: fit-content;
}

.menu-container a {
    cursor: pointer;
    font-size: 18px;
    max-width: fit-content;
    max-height: fit-content;
    opacity: 50%;
    text-decoration: none;
    color: black;
    white-space: nowrap;
}

.chamados-container{
    grid-column: 2;
    grid-row: 1;
}

.chamados{
    display: grid;
    grid-template-columns: repeat(4, 120px);
    gap: 20px;
    justify-items: center;
    align-items: center;
}

.chamados h1, button{
    font-size: 18px;
    text-decoration: none;
    text-decoration: none;
    color: black;
    background-color: transparent;
    border: none;
} .chamados button{
    cursor: pointer;
}

.container-accordion {
    width: 800px;
    height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    background: white;
    position: relative;
    bottom: 8%;
    border-radius: 20px;
}

.accordion {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    border-radius: 9px;
    border: 1px solid #F2F1F1;
    background: #F6F6F6;
    margin-bottom: 5px;
    width: 762px;
    margin-bottom: 2%;
    margin-top: 1%;
}

.accordion img {
    background-color: white;
    width: 60px;
    height: auto;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}

.user-info > button {
    background: none;
    border: none;
    cursor: pointer;
    display: block;
    text-align: left;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    max-width: 150px;
    padding: 0;
}

.accordion p {
    margin: 5px 0;
    display: block;
}

.accordion.open > p {
    display: none;
}

.accordion-content {
    display: none;
    font-size: 16px;
    border-top: 1px solid #F6F6F6;
    max-height: fit-content;
}

.buttons-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    flex-direction: row;
    margin-top: 6%;
    column-gap: 30%;
    font-size: 15px;
    }

.buttons-container a {
    opacity: 0.5;
    width: fit-content;
}

.file-container {
    width: 190px;
    display: flex;
    align-items: center;
}

.file-input {
    display: none;
}

.file-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 5px;
    border-radius: 10px;
    border: 1px solid #D4D4D4;
    background: #D9D9D9;
}

.file-label img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-color: transparent;
}

.accordion.open  .user-info{
    column-gap: 30px;
}

.buttons-container a {
    text-decoration: none;
}

.submit-button {
    flex-shrink: 0;
    border-radius: 10px;
    cursor: pointer;
    display: flex;             
    justify-content: center;     
    align-items: center;         
    text-align: center;         
    width: 165px;
    height: 42px;              
    background: #C0F894;
    border: 1px solid #D4D4D4;
}

.submit-button img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    inline-size: 30px;
    background-color: transparent;
}

.table {
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    margin-bottom: 10px;
    column-gap: 5%;
}

.table img {
    border-radius: 50%;
    margin-right: 10px;
}

.user-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
}

#Viewed {
    background-color: #C0F894;
}

#Viewed .submit-button {
    display: none;
}

#nome{
    font-weight: bold;
}

#texto {
    max-width: fit-content;
    white-space: nowrap;
}

#data {
    grid-row: 1;
    grid-column: 2;
    text-align: center;
}

#status {
    grid-column: 2;
    grid-row: 2;
    text-align: center;
}

#selected {
    color: #16A18E;
}


@media (max-width: 1440px) {

    .container-geral {
        margin-bottom: 15%
    }

    .menu-container h1, a {
        font-size: 16px;
    }

    .container-accordion{
        width: 90%;
    }

    .user-info {
        gap: 1%;
        font-size: 14px;
    }

    .accordion-content p{
        font-size: 14px;
    }

    .accordion {
        max-width: 95%;
    }

    .accordion .open{
        max-width: 572px;
    }

    .file-container {
        width: 180px;
    }

    .submit-button {
        width: 145px;
    }

    .file-label a, .submit-button a{
        font-size: 14px;
    }
}

@media (max-width: 992px) {

    .container-geral {
        margin-left: 15%;
        grid-template-rows: 50px 500px;
        margin-bottom: 15%;
        max-height: 1000px;
        max-height: fit-content;
    }

    .chamados {
        grid-column: 1;
        grid-row: 1;
    }

    .container-accordion{
        grid-column: 1;
        grid-row: 2;
        padding: 5px;
    }

    .menu-container {
        display: none
    }

    .accordion {
        padding: 8px;
    }

    .submit-button {
        width: 140px;
    }

    .file-label a, .submit-button a{
        font-size: 12px;
    }
}

@media (max-width: 768px) {

    .roadmap {
        width: 100%;
        font-size: 12px; 
        margin-top: 20px;
    }

    .menu-container {
        grid-column: span 2; 
        margin-bottom: 15px;
    }

    .chamados button, h1 {
        font-size: 16px;
    } 

    .container-accordion {
        width: 100%;
        padding: 15px;
        margin-top: 20px;
    }

    .buttons-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .submit-button {
        width: 140px;
        height: 42px;
    }

    .file-container {
        max-width: 160px;
    }

    .file-label a, .submit-button a{
        font-size: 12px;
    }
}

@media screen and (max-width: 430px) {

    .roadmap {
        width: 100%;
        font-size: 12px;
        margin-top: 10px;
        margin-left: 20%;
    }


    .buttons-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 15px;
    }

    .submit-button {
        width: 100%;
        font-size: 14px; 
        padding: 12px;
    }

    .container-geral {
        margin-left: 22%;
        max-height: fit-content;
    }

    .file-container {
        width: 100%;
        justify-content: center;
        margin-top: 15px;
    }

    .container-accordion {
        padding: 10px;
        width: 100%;
    }
}